* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid beige;
}

.App {
  text-align: center;
  background-color: #282c34;
  padding-bottom: 7%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: 'Metal Mania', cursive;
  font-size: 9rem;
  text-shadow: 2px 2px lawngreen;
  color: black;
  display: flex;
}

h1 img {
  width: 20%;
}

.grid {
  display: flex;
  justify-content: center;
}

.grid-cells {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

}
button {
  width: 75px;
  min-height: 25px;
}

/* .start-button {
  width: 75px;
  min-height: 25px;
  
} */

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: firebrick;
}

footer section a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.github-logo {
  width: 10%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
