* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
  margin-top: -18%;
  opacity: 0.1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.img-flipped {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

h1 {
  font-family: 'Metal Mania', cursive;
  font-size: 9rem;
  text-shadow: 2px 2px lawngreen;
  display: flex;
}

h1 img {
  width: 20%;
}

h2 {
  font-family: 'Metal Mania', cursive;
  font-size: 12rem;
  text-shadow: 2px 2px lawngreen;
}

h3 {
  font-family: 'Metal Mania', cursive;
  font-size: 4rem;
  text-shadow: 2px 2px lawngreen;
}

.grid {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.grid-cells {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.buttons {
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

button {
  width: 75px;
  min-height: 25px;
}

button:hover {
  background-color: black;
  color: lawngreen;
  transition: 0.2s;
}

.color-picker  {
  background-color: none;
  width:100px;
  height: 100px;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 1%;
  bottom: -73.2%;
}

main {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

main section {
  width: 25%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  padding: 0 0.5%;
}

main section p {
  font-size: 1.05rem;
  text-shadow: 0.2px 0.2px lightgray;
  font-weight: 800;
  text-align: start;
}

.about-description {
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: center;
}

.grid-container {
  display: flex;
  flex-direction: column;
}

.gifs-container {
  margin-top: -20%;
  display: flex;
  justify-content: center;
  align-items: center
}

.contra-guy {
  width: 50%;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  min-height: 18vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

footer section {
  width: 25%;
  justify-content: center;
  align-items: center;
}

footer section a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-section {
  justify-content: flex-start;
  margin-left: 1%;
}

.top-section img {
  width: 20%;
  display: none;
}

.middle-section {
  width: 67%;
  height: 15vh;
  align-items: flex-end;
  background-image: url(https://cdn.shopify.com/s/files/1/0822/1983/articles/lotr-aragorn-pixel-art-pixel-art-lotr-aragorn-lord-of-the-rings-fictional-character-pixel-8bit.png?v=1475044819);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 35%;
}

.middle-section p {
  color: darkgreen;
  font-size: 1.7rem;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px lawngreen;
}

.bottom-section {
  justify-content: flex-end;
  margin-right: 1%;
}

.bottom-section a {
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.bottom-section a:hover {
  background-color: white;
  color: black;
  transition: 1s;
}

.bottom-section img {
  width: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
